.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 81px;
}

.info_container {
    max-width: 1188px;
    width: 100%;
    margin-bottom: 32px;
    border-radius: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 4px 15px 4px rgba(199, 199, 199, 0.25);
    padding-left: 80px;
    padding-right: 80px;
    @media (min-width: 1025px) {
        min-height: 758px - 32px;
    }
    @media (max-width: 690px) {
        padding-left: 16px;
        padding-right: 16px;
    }
}


.personal_info_container {
    max-width: 1188px;
    width: 100%;
    min-height: 758px;
    height: 758px;
    height: auto;
    margin-bottom: 32px;
    border-radius: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px 4px 15px 4px rgba(199, 199, 199, 0.25);
    padding: 64px 80px;

}


.inner_container {
    display: flex;
    // min-height: 758px - 71px - 65px;
    flex-direction: column;
    justify-content: space-between;
}



.quiz_footer {
    margin-bottom: 53px;
    font-size: 14px;
    color: #6C6C6C;
}