.container {
	display: flex;
	justify-content: start;
}

.register_container {
	box-shadow: 0px 4px 15px 4px rgba(199, 199, 199, 0.25);
	background-color: white;
	position: absolute;

    @media (min-height: 769px) {
        height: 100%;
    }
	@media (max-width: 768px) {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
        background-color: white;
        height: auto;
	}
    @media (max-width: 360px) {
        height: 100%;
    }

	.left_block {
		width: clamp(200px, 45vw, 593px);
		padding: 20px 28px 32px 28px;
		display: flex;
		flex-direction: column;

		@media (max-width: 1024px) {
			padding: 20px 24px 32px 24px;
		}

		@media (max-width: 768px) {
			width: 464px;
		}

        @media (min-width: 361px) {
            justify-content: space-between;
            height: 100%;
        }

		@media (max-width: 360px) {
			padding: 20px 16px 32px 16px;
		}

		.right_block {
			position: absolute;
			right: -52vw;
			top: 50%;
			transform: translateY(-50%);
			pointer-events: none;
			max-width: 50vw;
			display: flex;
			justify-content: center;
			align-items: center;

			@media (max-width: 768px) {
				position: static;
				transform: none;
                max-width: 364px;
                margin: 79px 0;
			}

            @media (max-width: 360px) {
                margin: 41px 0;
            }

			.image {
				width: 100%;
				height: auto;
				@media (max-width: 768px) {
					max-width: 364px;
				}

			}
		}

		.logo {
			margin-bottom: 60px;
            padding-top: 20px;

			@media (max-width: 1024px) {
				margin-bottom: 32px;
			}

            @media (max-width: 768px) {
                margin-bottom: 64px;
                max-width: 124px;
                max-height: 28px;
            }

            @media (max-width: 360px) {
				margin-bottom: 48px;
                max-width: 106px;
                max-height: 24px;
                // margin-top: -150px;
			}
		}

		.organization {
			align-self: center;
			&_btn {
				padding: 17px 44px 15px 44px;
				border-radius: 48px;
				border: 2px solid #ffb1cd;
				font-size: 18px;
				background-color: white;
				color: #252525;

                @media (max-width: 768px) {
                    font-size: 16px;
                }

                @media (max-width: 360px) {
                    padding: 13px 44px 12px 44px;
                    font-size: 14px;
                }
			}
		}

		.main_content {
			.title_container {
				margin-bottom: 53px;
				max-height: 80px;
				display: flex;
				flex-direction: column;
				gap: 16px;

				@media (max-width: 1024px) {
					margin-bottom: 32px;
				}
				.title {
					color: #252525;
					font-size: 32px;
					font-weight: 600;
					@media (max-width: 1024px) {
                        font-size: 28px;
                    }

                    @media (max-width: 360px) {
                        font-size: 24px;
                    }
				}

				.sub_title {
					color: rgba(37, 37, 37, 0.6);
					font-size: 16px;
				}
			}
			.info_block {
				display: flex;
				flex-direction: column;
				gap: 16px;
				margin-bottom: 48px;

				@media (max-width: 1024px) {
					margin-bottom: 24px;
				}

                @media (max-width: 360px) {
					margin-bottom: 32px;
				}
			}

			.forgot {
				.forgot_password {
					font-size: 14px;
					font-weight: 500;
					line-height: 19px;
				}
			}
			.enter_button {
				margin-bottom: 16px;

                @media (max-width: 360px) {
                    margin-bottom: 12px;
                }
				& button {
					font-family: Involve;
					border: none;
					background-color: #ff71a3;
					border-radius: 48px;
					color: white;
					font-size: 18px;
					font-weight: 600;
					width: 100%;
					padding: 18px 46px 16px 46px;

                    @media (max-width: 768px) {
                        padding: 16px 32px 15px 32px;
                        font-size: 16px;
                    }

                    @media (max-width: 360px) {
                        padding: 14px 24px 13px 24px;
                        font-size: 14px;
                    }
				}
			}

			.sub_enter_info {
				width: 100%;
				text-align: center;
				font-size: 14px;
				& span {
					color: rgba(37, 37, 37, 0.4);
					font-size: 14px;
					font-weight: 500;
				}
			}
		}
	}
}
